<?xml version="1.0"?>
<library path="run_if_flag_true_decorator">
  <class name="amr_bt_nodes::RunIfFlagTrueDecorator"
         type="amr_bt_nodes::RunIfFlagTrueDecorator"
         base_class_type="BT::DecoratorNode">
    <description>Run child only if flag is true</description>
  </class>
</library>

<library path="check_flag_condition">
  <class name="amr_bt_nodes::CheckFlagCondition"
         type="amr_bt_nodes::CheckFlagCondition"
         base_class_type="BT::ConditionNode">
    <description>Return SUCCESS if flag is true, otherwise FAILURE</description>
  </class>
</library>

<library path="trigger_planner_decorator">
  <class name="amr_bt_nodes::TriggerPlannerDecorator"
         type="amr_bt_nodes::TriggerPlannerDecorator"
         base_class_type="BT::DecoratorNode">
    <description>Trigger child node when flag is true</description>
  </class>
</library>


<library path="smart_recovery_action_node">
  <class name="amr_bt_nodes::SmartRecoveryAction"
         type="amr_bt_nodes::SmartRecoveryAction"
         base_class_type="BT::ActionNodeBase">
    <description>Smart recovery action node (uses robot_interfaces/SmartRecovery)</description>
  </class>
</library>

<library path="set_truncated_goal_from_path">
  <class name="amr_bt_nodes::SetTruncatedGoalFromPath"
         type="amr_bt_nodes::SetTruncatedGoalFromPath"
         base_class_type="BT::SyncActionNode">
    <description>Extracts last pose from a truncated path and sets it to a goal key on the blackboard.</description>
  </class>
</library>